// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

html {
    height: 100%;
}

body {
    overflow-y: scroll;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.badText {
    word-wrap: break-word;
}

.no-underline {
    text-decoration: none;
}

footer.include {
    position: relative;
    bottom: -50px;

    a {
        color: #8a8a8a;
        transition: 0.5s;

        &:hover {
            transition: 0.5s;
            color: #575757;
        }
    }
}
.user{
    border-width: 1px;
    background: none;
}
