// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
    overflow-y: scroll;
}

.badText {
    word-wrap: break-word;
}

.no-underline {
    text-decoration: none;
}

footer {
    background-color: #e6e6e6;

    a {
        color: #8a8a8a;
        transition: 0.5s;

        &:hover {
            transition: 0.5s;
            color: #575757;
        }
    }
}
