// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
body{
    overflow-y: scroll;
}
.badText{
    word-wrap: break-word;
}
.no-underline{
    text-decoration: none;
}
